html {
  	height: 100%;

  	body {
    	min-height: 100%;

		.gantt-svg {
			margin-top: 2em;
		}

    	.svg-tooltip {
			background: rgba(69,77,93,.9);
			border-radius: .1rem;
			color: #fff;
			display: block;
			font-size: 11px;
			max-width: 320px;
			padding: .2rem .4rem;
			position: absolute;
			text-overflow: ellipsis;
			white-space: pre;
			z-index: 300;
			visibility: hidden;
		}

		.box {
			background-color: #e4e4e4;
		}
  	}
}
